* {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a{
    color: black;
} 
.wrapper{
    width: 90%;
    margin: 0 auto;
}
nav .wrapper{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
nav .wrapper ul{
    display: flex;
    justify-content: end;
}
nav .wrapper ul li{
    margin-right: 35px;
}
nav .wrapper ul li a{
    font-size: 18px;
    font-weight: 500px;
}
nav .wrapper ul li:nth-child(4) a{
    background-color: blue;
    color: white;
    padding: 12px 24px;
    border-radius: 34px;
}
nav .wrapper ul li:nth-child(5) a{
    border: 1px solid blue;
    padding:12px 24px ;
    border-radius:34px ;
}
#main{
    padding: 80px;
}
#main .wrapper{
    display: flex;
    justify-content: space-between;
}
#main .wrapper div.left{
width: 48%;
}
#main .wrapper div.right{
    width: 48%;
}
#main .wrapper div.right img{
    width: 100%;
}
#main .wrapper div.left h1{
  font-size: 35px;
  font-weight: 600;  
  margin-bottom: 38px;
}
#main .wrapper div.left p{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 50px;
}
#main .wrapper div.left a{
    background-color: blue;
    color: white;
    padding: 12px 24px;
    border-radius: 34px;
}